@import "@assets/style/theme.scss";

.content-view {
  font-size: 30px;
}

.tiplevel{
  width: 0;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.tl-tip{
  width: 30px;
  height: 30px;
  position: fixed;
  right: 0;
  top: 120px;
  z-index: 998;
  border-radius: 15px 0 0 15px ;
  overflow: hidden;
  cursor: pointer;
  background: linear-gradient(to left, skyblue, #eee);
  font-size: 20px;
  color: white;
  text-align: right;
  line-height: 35px;
  padding-right: 6px;

  img{
    width: 30px;
    height: 30px;
  }
}

.tl-container{
  width: 0px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  font-family: "宋体";
  padding:20px 0;

  .tl-header{
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 20px;

    .header-menu-icon{
      font-size: 16px;
      margin-right: 5px;
      cursor: pointer;
    }

    .header-close-icon{
      width: 20px;
      text-align: center;
      cursor: pointer;
    }

    .header-title{
      height: 20px;
      line-height: 20px;
      font-size: 20px;
      text-align: left;
    }
  }
}

.tl-modalShow{
  width: 400px;
  z-index: 999;
  background: rgba(255, 255, 255,1);
  padding:20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.note-card{
  // padding: 0 10px;
}

.tl-component-content{
  overflow: visible;
  overflow-y: scroll;
  height: calc(100vh - 130px);
  margin-top: 20px;
}

.tl-time-tag{
  width: 70px;
  display: block;
  margin-top: 4px;
  font-size:8px;
}

.component-edit{
  margin:24px 0 0;
}